[Desktop Entry]
Version=1.0
Type=Link
Name=Wide-Area Indoor and Outdoor Real-Time 3D SLAM - YouTube
Comment=
Icon=bookmark-new
URL=https://www.youtube.com/watch?v=08GTGfNneCI
